#form {
  width: 100%;
  text-align: center;

  .span {
    color: black !important;
  }

  .container {
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: center;
  }
}
