.customInput textarea {
  border: 0.5px solid rgba(255, 255, 255, 0.535);
  border-bottom: 3px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 1vw;
  width: 68%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 10px;
}

.customInput input:focus {
  outline: none;
}

.customInput .large {
  width: 10vw;
}

.customInput input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.533);
  opacity: 1; /* Firefox */
}

.customInput input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.customInput input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
