#title {
  .title:hover {
    cursor: pointer;
  }
  .large {
    font-size: 65px;
    margin: 0;
  }
  .default {
    font-size: 40px;
    margin: 0;
  }
  .valorant-field {
    display: flex;
    justify-content: center;
  }
  .text-valorant {
    background-color: #ff4454;
    padding: 5px 15px;
    fill: #ffffff;
  }
  .text-valorant-large {
    width: 40%;
  }
  .text-valorant-default {
    width: 30%;
  }
}
